---

---

<header>
    <nav aria-label="Main navigation" class="glass">
        <div class="navigation wrapper">
            <a href="/">
                <span>Jakob's Blog</span>
            </a>
        </div>
    </nav>
</header>

<style lang="scss">
    header {
        position: sticky;
        top: 0;
        z-index: 100;
        overflow-x: hidden;
    }
    nav {
        background-color: white;
        padding: 1rem;
        

        &.drop-shadow {
            filter: drop-shadow(0.05rem 0.05rem 0.3rem #c2c2c2);
        }
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: filter 0.3s ease-in-out;
        text-align: center;

        a {
            margin: 0 auto;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 1.1rem; // relative Einheit → besser für Responsiveness
            white-space: nowrap;
        }

        .navigation-list {
            display: flex;
            gap: 1rem;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .glass {
        background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.55)
        );
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .navButton {
        text-decoration: none;
        cursor: pointer;
        color: white;
        font-weight: 600;
        font-size: 0.9rem;

        background-color: #486ec0;
        padding: 0.4rem 1rem;
        border-radius: 0.3rem;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #375baa;
        }
    }

    @media (max-width: 25rem) {
        .header {
            font-size: 0.85rem !important;
        }
        .navButton {
            font-size: 0.75rem;
            padding: 0.4rem 0.5rem;
        }
    }
</style>

<script>
    const nav = document.querySelector("nav");
    window.addEventListener("scroll", (event) => {
        if (nav != null) {
            if (window.scrollY > 30) {
                nav.classList.add("drop-shadow");
            } else {
                nav.classList.remove("drop-shadow");
            }
        }
    });
</script>

<!-- ---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Blog</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style> -->
